<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <p>Please fill in the form below to list a new space:</p>
        <form action="/spaces/new", method="'POST">
            <li>Name<input type="text" name="name"></br>
             Location<input type="text" name="location"></br>
             Description<input type="text" name="descripton"></br>
             Availability<input type="checkbox" name="availability"></br>
            Price per Night<input type="number" name="price_per_night"></br>
            <input type="submit" value="List Space"></li>
            <a href="/spaces">Back to all spaces</a>
        </form>
    
