<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <p>Please fill in the form below to create an account:</p>
        <form action="/register", method='POST'>
            <p><label for="username">Username</label>
           <input type="text" name="username"></p> 
            <p><label for="password">Password</label>
                <input type="password" name="password"></p> 
            <p><label for="confirm_password">Comfirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password"></p>
           <input type="submit" value="Submit"> </br></br>        
            <a href="/">Back to home page</a>
        </form>
    
