<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
    </head>

    <p>Please fill in the form below to create an account:</p>
        <form action="/register_user", method="'POST">
            <p> Username</p> <input type="text" name="username">
            <p> Password</p> <input type="text" name="password">
            
            <br>
            <input type="text" value="Confirm">
            </br>
            <a href="/welcome">Back to home page</a>
        </form>
    <p>
</head>
    
