<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <p>Please fill in the form below to create an account:</p>
        <form action="/register_user", method="'POST">
            <p><label for="username">Username</label>
           <input type="text" name="username"></p> 
            <p><label for="confirm_password">Password</label>
                <input type="text" name="password"></p> 
            <p><label for="confirm_password">Comfirm Password</label>
                <input type="password" name="confirm_password" id="comfirm_password"></p>
           <input type="submit" value="Submit"> </br></br>        
            <a href="/">Back to home page</a>
        </form>
    
